/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


/*---------------------------------- header-menu -----------------------------------------------------------------------------*/

.menu-row {
   position: absolute;
   width: 31.31vw;
   height: 1.50vh;
}

/*--------------------------------------- home -------------------------------------------------------------------------*/
.home {
   background: url(../img/firsr.jpg) no-repeat;
   height: 100vh;
   background-size: cover;
}


.row-home {

}

.li-home {
      float: right;
}
.home-list {
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   margin: 0 15.63vw 0 0;
   z-index: 2;
}

.li-home a {
   display: block;
   color: rgb(11, 11, 11);
   text-align: center;
   padding: 4.10vh 3.13vw;
   text-decoration: none;
   font-size: 1.125vw;
   font-weight: 25.000vw;
}

.home-link a:hover {
   background-color: #74c7d5;
}
.services-link a:hover {
   background-color: #df5c64;
}
.about-link a:hover {
   background-color: #91778e;
}
.work-link a:hover {
   background-color: #a1ca6c;
}
.contact-link a:hover {
   background-color: #82c8bd;
}

.home__text {
   display: inline-block;
   font-size: 3.125vw;
   line-height: 3.750vw;
   color: #ffffff;
   font-family: Damion;
   padding: 1.75vw 0 0 6.00vw;
}
.home__title {
   display: flex;
   background-color: #ffffff;
   color: #74c7d5;
   margin: 35vh 23.44vw;
}

.title {
   font-family: Lato;
   font-size: 3.75vw;
   font-weight: 18.750vw;
   text-align: right;
   padding: 1.5vw .7vw 2.2vw 0;
}
.subtitle {
   font-family: "Lato - Black";
   font-size: 9.5vw;
   line-height: 8.655vw;
   text-align: right;
   text-transform: uppercase;
}

/*-----------============================= Services ====================================================---------*/

.services-conteiner{
   max-width: 68.75vw;
   margin: 0 auto;
}
.left-title {
   color: #ffffff;
   font-family: Damion;
   text-align: left;
   font-size: 3.13vw;
   line-height: 3.75vw;
}
.services {
   background: url(../img/background/Layer_1.png) no-repeat;
   background-size: cover;
   background-color: #b24a50;
   }

   .services__subtitle {
      color: #ffffff;
      font-family: Lato;
      font-size: 3.75vw;
      line-height: 3.62vw;
      font-weight: 18.75vw;
      text-transform: uppercase;
      text-align: center;
      margin: 19.00vh auto 4.60vh auto;
   }

   .services__text {
      font-family: Lato;
      text-align: center;
   }
   .services__text p:nth-child(1){
      color: #ffffff;
      text-transform: uppercase;
      font-size: 1.25vw;
      line-height: 58px;
   }
   .services__text p:nth-child(2){
      color: #ffcccf;
      line-height: 24px;
   }
   .services__text p:last-child{
      margin: 0 0 12.00vh 0;
   }

   .services__card {
   }
   .card-conteiner {
      display: flex;
      text-align: center;
      max-width: 68.75vw;
      justify-content:space-between;
      flex-wrap:wrap;
      padding: 0 0 7.75vw 0;
   }
   .card-row {
      display: flex;
      flex-direction: column;
      flex: 0 1 25%;
      background-color: #c8535a;
      opacity: 0.8;
      margin: 0 -5px;
      padding: 0 5px;
   }

   .card-icon {
      margin: 3.06vw auto 2.13vw auto;
      width: 8.13vw;
      height: 8.13vw;
      border-radius: 50%;
      border: 0.31vw solid #c8535a;
      background: white;
   }
   .card-icon img {
      width: 4.06vw;
      margin: 1.56vw 0 0 0;
   }
   .card-row1 img {
      margin: 0.69vw 0 0 0;
   }

   .card-title {
      color: #ffffff;
      font-family: Lato;
      font-size: 1.88vw;
      font-weight: 18.75vw;
      line-height: 3.62vw;
      text-transform: uppercase;
      margin: 0 0 3.19vw 0;
   }
   
   .card-text {
      color: #fefefe;
      font-family: Lato;
      line-height: 20px;
      margin: 2.81vw;
   }  

   /*-----------============================= About ====================================================---------*/

   .about {
      background: url(../img/background/Layer_2.png) no-repeat;
      background-size: cover;
      background-color: #665464;
   }
   .left-title {
      color: #ffffff;
      font-family: Damion;
      text-align: left;
      font-size: 3.13vw;
      line-height: 3.75vw;
   }
   .about-conteiner {
      max-width: 68.75vw;
      margin: 0 auto;
   }
   .about__subtitle {
      color: #ffffff;
      font-family: Lato;
      font-size: 3.75vw;
      line-height: 3.62vw;
      font-weight: 18.75vw;
      text-transform: uppercase;
      text-align: center;
      margin: 19.00vh auto 4.60vh auto;
   }
   .about__text {
      color: #e6d1e3;
      font-family: Lato;
      text-align: center;
      margin: 0 0 3.69vw 0;
      line-height: 24px;
   }
   .team {
      text-align: center;
      color: #ffffff;
      font-family: "Lato - Black";
      text-transform: uppercase;
      font-size: 1.56vw;
      margin: 0 0 4.2vw 0;
   }
   .team__block {
      background-color: #a1ca6c;
      display: inline-block;
      padding: 0.94vw 2.50vw;
      position: relative;
   }

   .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 1.5vw solid transparent;
      border-right: 1.5vw solid transparent;
      border-top: 1.5vw solid #a1ca6c;
      display: inline-block;
      bottom: -1.2vw;
      left: 7.3vw;
   }

      
   .card-team {
      display: flex;
      flex-direction: column;
      flex: 0 1 25%;
      background-color: #4d3f4b;
      opacity: 0.8;
      margin: 0 -5px;
      padding: 0 5px;
   }
   .card-team img:hover{
      margin: 0 0 0 -3PX;
      width: 8.2vw;
      height: 8.2vw;
      border-radius: 50%;
      border: 0.3vw solid #c8535a;
      background: #df5c64;
   }
   .card-team img {
      width: 100%;
      margin: 0.44vw 0 0 0 ;
   }

   .card-text {
      margin: -2.19vw 0 0 0;
   }

   .card-team .card-icon {
      border: 0.31vw solid #a1859e;
   }

   .card-team1 .card-text {
      color: #a1ca6c;
   }
   .card-team2 .card-text {
      color: #ff8973;
   }
   .card-team3 .card-text {
      color: #a1ca6c;
   }
   .card-team4 .card-text {
      color: #a1ca6c;
   }


   .fa {
      margin: 10px;
      padding: 0 auto;
      font-size: 25px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
   }
   .social-icons li {
      display: inline-block;
   }
   .fa:hover {
      opacity: 0.7;
   }
   .fa-facebook {
      background: #3B5998;
      color: white;
   }
   .fa-twitter {
      background: #55ACEE;
      color: white;
   }
   .fa-google {
      background: #dd4b39;
      color: white;
   }
   .fa-linkedin {
      background: #007bb5;
      color: white;
   }
/*-----------============================= Work ====================================================---------*/


.work {
   background: url(../img/background/Layer_3.png) no-repeat;
   background-size: cover;
   background-color: #a1ca6c;
}
.work-conteiner {
   max-width: 68.75vw;
   margin: 0 auto;
}
.left-title {
   color: #ffffff;
   font-family: Damion;
   text-align: left;
   font-size: 3.13vw;
   line-height: 3.75vw;
}
.work__subtitle {
   color: #ffffff;
   font-family: Lato;
   font-size: 3.75vw;
   line-height: 3.62vw;
   font-weight: 18.75vw;
   text-transform: uppercase;
   text-align: center;
   margin: 19.00vh auto 4.60vh auto;
}
.work__text {
   color: #ffffff;
   font-family: Lato;
   text-align: center;
   margin: 0 0 3.69vw 0;
   line-height: 24px;
}

.portfolio-block {
   height: 6.25vw;
   display: flex;
   justify-content:space-between;
   border-top: 2px solid #94b963;
   border-bottom: 2px solid #94b963;
   margin:  0 0 2.94vw 0;
}
.portfolio-block__portfolio-title {
   color: #ffffff;
   text-align: center;
   text-transform: uppercase;
   margin: 2.2vw 0.63vw;
   font-size: 1.25vw;
   font-weight: 700;
   line-height: 1.50vw
}
.portfolio-block__portfolio-menu {
   height: inherit;
}
.portfolio-menu__block-list li {
   display: flex;

}
.li-portfolio a {
   display: block;
   color: white;
   text-align: center;
   padding: 2.13vw;
   text-decoration: none;
   font-size: 1.125vw;
   font-weight: 25.000vw;
}
.li-portfolio a:hover {
   padding: 1vh 2.13vw 1vh 2.13vw ;
   background-color: #f5c149;
   border-radius: 5px;
}
.portfolio-menu__block-list li {
   display: inline-block;
}

.portfolio__galerey {
   padding: 0 0 6.25vw 0;
}
.galerey-block {
   display: flex;
   justify-content:space-between;
   flex-wrap:wrap;
}
.galerey-block__card-work {
   width: 16.25vw;
   height: 16.25vw;
   margin: .4vw;
}
.neming-img {
   color: #727272;
   font-family: Lato;
   line-height: 3.62vw;
   text-align: center;
   text-transform: uppercase;
   background-color: #eeeeee;
   font-size: 0.88vw;
   margin-bottom: 1.25vw;
}
.neming-img__triangle {
   position: absolute;
   width: 0;
   height: 0;
   border-left: 1.8vw solid transparent;
   border-right: 1.8vw solid transparent;
   border-bottom: 1.8vw solid #eeeeee;
   margin: 11.4vw 0 0 -9.9vw;
}
   .card-work img{
      width: 16.25vw;
      height: 12.50vw;
      transform: 1s;
   }
   .card-work img:hover {
      transform: scale(1.2);
   }



   /*-----------============================= Contact ====================================================---------*/

   .contact {
      background: url(../img/background/Layer_4.png) no-repeat;
      background-size: cover;
      background-color: #75b4aa;;
   }
   .contakt-conteiner {
      max-width: 68.75vw;
      margin: 0 auto;
   }
   .left-title {
      color: #ffffff;
      font-family: Damion;
      text-align: left;
      font-size: 3.13vw;
      line-height: 3.75vw;
   }
   .contact__subtitle {
      color: #ffffff;
      font-family: Lato;
      font-size: 3.75vw;
      line-height: 3.62vw;
      font-weight: 18.75vw;
      text-transform: uppercase;
      text-align: center;
      margin: 19.00vh auto 4.60vh auto;
   }
   .contact__text {
      color: #ffffff;
      font-family: Lato;
      text-align: center;
      margin: 0 0 3.69vw 0;
      line-height: 24px;
   }
   .contact-block {
      font-family: Lato;
   }
   .contact-row {
      display: flex;
      flex-wrap: wrap;
   }
   .address-card {
      display: flex;
      justify-content:space-between;
      text-align: left;
      padding-right: 1.5vw;
      max-width: 48%;
   }
   .address-phone {
      width: 12.5vw;
   }
   h3 {
      color: #ffffff;
      font-weight: bold;
      text-align: left;
      line-height: 18.75vw;
      font-size: 1.88vw;
      margin-bottom: 1.69vw;
   }
   .acrostia {
      color: #c0dfda;
      font-weight: 700;
      line-height: 16.8px;
      font-size: 20px;
      margin-bottom: 1.19vw;
   }
   .address-posicion {
      color: #ffffff;
      font-weight: 400;
      line-height: 21px;
      font-size: 16px;
      margin-bottom: 4.81vw;
   }
   .list-phone {
      color: #ffffff;
   }
   .list-phone a{
      color: #ffffff;
      margin-left: 1.25vw;
      text-align: left;
   }
   .empty-gps{
      display: flex;
      flex-direction: column;
      margin: 0 1px 3px;
      width: 16.3vw;
      margin-left: 2.5vw;
   }
   .empty{
      min-height:60%;
   }
   .gps {
      padding: 15vw 0 0 2.56vw;
      overflow:hidden;
      position:relative;
      min-width: 12.5vw;
      height: 0;
   }
   .gps iframe{
      left:0;
      top:0;
      height: 100%;
      width:100%;
      position:absolute;
   }
   .name-tel {
      display: flex;
      justify-content:space-between;
      margin-bottom: 1.3vw;
   }
   .name {
      width: 16.25vw;
      height: 2.50vw;
      background-color: #68a097;
      border-radius: 2px;
   }
   .name:focus{
      background-color: #f6f6f6;
   }
   .tel {
      width: 16.25vw;
      height: 2.50vw;
      background-color: #68a097;
      border-radius: 2px;
   }
   .tel:focus{
      background-color: #f6f6f6;
   }
   .question {
      display: flex;
      flex-direction: column;
      min-width: 50%;
      padding-left: 1.5vw;
   }
   textarea {
      width: 100%;
      height: 9.9vw;
      color: rgb(5, 5, 5);
      resize: none;
      background-color: #68a097;
   }
   textarea:focus {
      background: white;
   }
   button {
      position: relative;
      left: 43vw;
      width: 16.3vw;
      height: 3.1vw;
      box-shadow: inset 0 -4px 0 rgba(178, 74, 80, 0.5);
      background-color: #df5c64;
      margin: 0 auto;
      margin-bottom: 5.0vw;
   }
   button span {
      color: #ffffff;
      font-family: "Lato - Black";
      font-size: 26px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      text-transform: uppercase;
   }

   /*-----------============================= footer ====================================================---------*/


   .footer {
      background-color: #68a097;
      padding: 3.1vw 0;
   }
   .social {
   }
   .social-icons-footer {
      display: flex;
      justify-content: center;
   }
   .social-icons-footer li{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 3.8vw;
      height: 3.8vw;
      background-color: #82c8bd;
      margin: 0 2.5vw;
   }
   .social-icons-footer li a {
      font-size: 2vw;
      padding: 2vw;
   }